 {{#foreach navigation}}
  {{#if current}}
    {{#if nodes}}
      <div class="container">
        <div class="navbar-sub-category">
          {{#foreach nodes}}
            <div class="navbar-sub-div {{#if current}}active{{/if}}">
              <a class="btn btn-link" href="{{#if path}}{{path}}{{else}}{{mixed.url}}{{/if}}" title="{{name}}" role="button">{{name}}</a>
            </div>
          {{/foreach}}
        </div>
      </div>
    {{/if}}
  {{/if}}
{{/foreach}}
<div>{{this}}</div>
